<h2>Create a New Celebrity</h2>

<form method="post" action="/celebrities/create">
    <label>Name</label>
    <input name="name"/>
    <label>Occupation</label>
    <input name="occupation"/>
    <label>Catch Phrase</label>
    <input name="catchPhrase"/>

    <button type="submit">Submit</button>

</form>